.cover {
  width: 2rem;
  height: 3rem;
  background-color: #e0edf3;
}

:host ::ng-deep mat-list-item {
  .mat-mdc-list-item-unscoped-content {
    display: flex;
    justify-content: space-between;
  }
}

:host ::ng-deep mat-list-item:hover {
  background-color: #e0e3f3;
  cursor: pointer;
  border-radius: 5px;
}

mat-card {
  width: 80%;
  margin-left: 10%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
